body{
    background-color: #494949 !important;
    font-family: Verdana, Geneva, sans-serif;
}
table, th, td {
    border: 2px solid darkgray;
    border-collapse: collapse;
    text-align: center;
    color: deepskyblue;
}
td a {
    color: deepskyblue !important;
    text-decoration: none;
    display: block;
    width: 100%;
}
.table-div {
    width: 60%;
    min-width: 750px;
    margin: auto;
}